@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/Roboto-Italic.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

:root {
  --bg-color: #F5F5F5;
  --attention-color: #E9D9D8;
  --green: #77C0AF;
  --gray: #999999;
  --text-color: #565656;
  --border: #F5F5F5;
}